.contactsForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  justify-content: center;
  border: 1px solid black;
  width: 260px;
  background: gainsboro;
  margin: 50px auto;
  height: 100%;
  border-radius: 10px;
}

label {
  display: flex;
  font-size: 11px;
  margin-bottom: 10px;
  flex-direction: column;
}

ul li {
  list-style: circle;
}

input {
  width: 200px;
  height: 20px;
}

.filter {
  margin: 0 auto;
  display: block;
  text-align: center;
}

.contactsList {
  padding: 0;
  margin: 0;
}

.contactsItem {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  list-style: circle !important;
}

.contactsNumber{
  margin-left: 7px;
}

.remove{
  background: red;
}

.contactsBtn {
  margin-left: 4px;
  padding: 0;
  width: auto;
  height: 20px;
}
